@import "tailwindcss";

@theme {
  /* small = phones (hide image) */
  --breakpoint-sm: 25rem; /* 640px */
  
  /* medium = tablets / half-screen */
  --breakpoint-md: 50rem; /* 1024px */
  
  /* large = desktops / full screen */
  --breakpoint-lg: 80rem; /* 1280px */
}

@keyframes testimonialFade {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-testimonial-fade {
  animation: testimonialFade 0.5s ease forwards;
}
